
{% extends "base.html" %}
<head>
    <style>
        .table {
            border-collapse: collapse;
            width: 100%;
        }
        .table tr {
            line-height: 2; 
        }
    </style>
</head>

<body>
{% block app_content %}

    <table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Action</th>
            <th>Time</th>
        </tr>
        </thead>
        <tbody>
        {% for i in data %}
            <tr>
                <td>{{ i.email }}</td>
                <td>{{ i.action }}</td>
                <td>{{ i.created_at }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {{ paginate.links }}
    
{% endblock %}
</body>
