
{% extends "base.html" %}
{% block app_content %}
    <body>
        <div class="container">
            <form method="POST" action="{{url_for('checkcnzz_completed')}}">
                <meta charset="utf-8">
                <style type="text/css">
                    /* .btn{
                        background-color:orange;
                        border: none;
                        font-size: 20px;
                        font-weight: normal;
                        color: #0c3e29;
                        outline:none;
                        cursor:pointer;
                        padding: 15px 25px ;
                        box-shadow: 0 9px #bbb;
                        border-radius: 10px;
                    } */
                    .btn:hover{
                        background-color: darkorange;
                    }
            
                    .btn:active{
                        background-color:darkorange;
                        box-shadow: 0 3px #aaa;
                        transform:translateY(4px);
                    }
                </style>
            <br>
            <div style="text-align:center">
                <h2> 批量查詢域名 cnzz 統計碼 </h2>  
            </div>            
            <div class="mb-3">
                <br>
                <label for="exampleFormControlTextarea1" class="form-label"> 域名 : </label>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="test" required="required" rows="20" placeholder="請輸入域名格式請參照以下。
                bill.com 
                bill.live
                bill.cn "></textarea>
            </div>
            <div style="text-align:center">
                <button type="submit" class="btn btn-success" onclick="alert('資料載入時間較長，請稍等頁面跳轉。')" >Submit</button>
            </div><br>
            <div class="alert alert-danger" role="alert">
                點選 Submit 後請稍待片刻，域名數量眾多需要些時間驗證，完成後頁面會跳轉至結果頁面。
            </div>

        </div>

    </body>

{% endblock %}