{% extends "base.html" %}
{% block app_content %}

    <body>
        <div class="container">
            <br>
            <figure>
                <blockquote class="blockquote"><br>
                <h2> 歡迎使用 YC tools </h2>
                </blockquote>
                <ul class="list-unstyled">
                    <li>麻煩幫我注意以下幾件事: </li>
                    <ul>
                        <li> 目前工具還在持續優化與更新，有發現任何問題請跟我回報。</li>
                        <li> 有任何需求希望能加上批量/自動化的功能可以聯繫我討論。</li>
                    </ul>
                    </li>
                </ul>
                <figcaption class="blockquote-footer">
                <cite title="Source Title"> Bill </cite>
                </figcaption>
            </figure>
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="/checkyctask"> YCCDN批量建立前次任務列表查詢 </a> 
                </li>
                <li class="list-group-item">
                    <a href="/checkscwhite"> SC加白任務列表查詢 </a> 
                </li>        
                <li class="list-group-item">
                    <a href="/checkcdnwssllog"> CDNW證書上傳任務列表查詢 </a> 
                </li>
                <li class="list-group-item">
                    <a href="/checkychttps"> YC批量開啟 https 紀錄查詢 </a> 
                </li>    
                <li class="list-group-item">
                    <a href="/CheckSyncCdnwLog"> CDNW 建立紀錄查詢 </a> 
                </li>    
                <li class="list-group-item">
                    <a href="/DeleteCdnwLog"> 刪除 CDNW 紀錄查詢 </a> 
                </li>    
                <li class="list-group-item">
                    <a href="/yc_domains_list"> YCCDN商戶域名查詢結果下載 </a> 
                </li>    
                <!-- <li class="list-group-item">
                    <a href="/checkalidnsdomaintask"> Aliyun DNS 域名建立任務列表查詢 </a> 
                </li>    -->
            </ul>
        </div>
    </body>
{% endblock %}