<head>
    <script type="text/javascript" src="{{url_for('static',filename='js/head.js')}}"></script>
</head>

<body>
    
    <div class="row">
        <div class="col">
        <!-- <h1>{{result}}</h1> -->
        <a href="/"> 點選回到首頁 </a>
        <br>
        <h3> 以下為前次 Aliyun-DNS 域名建立紀錄:</h3>
        <div class="col">
            {% for log in task %}
          
              <a> {{ log }} </a>
              <br>
          
            {% endfor %}
        </div>
        </div>
    </div>
  
</body>
  


